body{
    background-image:url("Pictures/Photoshoped/Background.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
div#Countainer{
    width: 1200px;
    height: 990px;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    margin-right: auto;
    margin-left: auto;
}

div#Menu{
    width: 200px;
    height: 990px;
    background-color: darkslategrey;
    float: left;
}

div#Header{
    width: 1000px;
    height: 120px;
    background-color: darkslategrey;
    float: right;
}