body{
    background-color: black;
    background-image:url('./Pictures/Photoshoped/Background.jpeg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
div#Countainer{
    width: 1100px;
    height: 1000px;
    background-color: rgba(0,0,0,0.6);
    margin-right: auto;
    margin-left: auto;
}

div#Countainer_trip{
    width: 1100px;
    height: 1250px;
    background-color: rgba(0,0,0,0.6);
    margin-right: auto;
    margin-left: auto;
}

div#Menu{
    width: 16.7%;
    height: 100%;
    background-color: rgba(47,79,79,0.7);
    float: left;
}


div#Loggo{
    width: 16.7;
    height: 200px;
    background-image:url('./Pictures/Photoshoped/Loggo.png');
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    margin-right: auto;
    margin-left: auto;
}

div#bottouns{
    width: 16.7;
    height: 790;
    padding-left: 20px;
}

div#Header{
    width: 83.3%;
    height: 120px;
    background-color: rgba(47,79,79,0.7);
    float: right;
}
div#content{
    width: 73.3%;
    height: 80%;
    background-color: rgba(0,0,0,0.6);
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    border: 1.8px;
    border-style: solid;
    border-color: rgba(34,178,170,0.6);
}
div#text{
    width: 50%;
    height: 80%;
    margin: 40px;
    color: white;
    float: left;
}

div#img_place{
    float: right;
    width: 35%;
    height: 60%;
    margin-top: 100px;
    margin-right: 40px;
}

h1{
    padding-left: 250px;
    font-size: 60px;
    color: black;
    text-shadow:
    1px 1px 0 #dcdcdc,
    -1px -1px 0 #dcdcdc,
    1px -1px 0 #dcdcdc,
    -1px 1px 0 #dcdcdc,
    1px 1px 0 #dcdcdc;
    font-family: NORWESTER;
}
a{
    font-family: NORWESTER;
    font-size: 28px;
    text-decoration: none;
    color: #dcdcdc;
    display: block;
}

a#dark{
    color: gray;
}

#slideshow {
    position:relative;
    height:300px;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    height: 300px;
    background-color: #FFF;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}

#slideshow DIV IMG {
    height: 350px;
    display: block;
    border: 0;
    margin-bottom: 10px;
}

#text_under_slideshow {
    padding-top: 60px;
}